body {
    background-color: green; 
}
#time {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}
#clock {
    color: black;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}

#timer {
    color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}